<!doctype html>
	<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
	<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
	<!--[if gt IE 9]><!-->
<html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
	<head>
		{% block meta %}
			{% include 'partials/meta.twig' %}
		{% endblock %}

		{% block head %}
			{{ function('wp_head') }}
		{% endblock %}
	</head>

	<body class="{{body_class}}" data-template="base.twig">

		{% block header %}
			<div id="alpha">
				{% include "partials/header.twig" %}
			</div>
		{% endblock %}

		<div id="view">
			<main id="content" role="main">
				<article class="container">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</article>
			</main>
		</div>

		{% block footer %}
			<div id="omega">
				{% include 'partials/footer.twig' %}
				{{ function('wp_footer') }}
			</div>
		{% endblock %}
	</body>
</html>
