{% extends "layouts/base.twig" %}

{% set home = value %}

{% block content %}
	<article class="{{post.post_type}}" id="{{post.slug}}">
		<section class="{{post.post_type}}__content">
			<h1 class="{{post.post_type}}__title">{{post.title}}</h1>
			<article>
				{{post.content}}
			</article>
		</section>
	</article>
{% endblock %}
